.f-title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;
    ;
}

.features-container {
    background-color: #000 !important;
    color: #fff;
    padding: 90px 80px;
}

.features-accordion {
    background-color: #000 !important;
}

.f-title {
    padding-top: 25px;
    font-size: 16px;
}

.f-title,
.h1-title,
.p1-title {
    color: #fff;
}

.features-accordion,
.features-accordion .accordion-item,
.features-accordion .accordion-header,
.features-accordion .accordion-body {
    background-color: #000 !important;
    color: #fff;
    border: none;
}

.accordion-header {
    background-color: #000 !important;
}

.features-accordion .accordion-button,
.features-accordion .accordion-button:not(.collapsed) {
    background-color: #000 !important;
    color: #fff !important;
    box-shadow: none;
    border: none;
}

.features-accordion .accordion-button:focus {
    box-shadow: none;
    border: none;
}

.features-accordion .accordion-button::after {
    filter: invert(1) brightness(2);
}

.features-accordion .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='YOUR_HEX_COLOR' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 5.5l6 6 6-6' stroke='YOUR_HEX_COLOR' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 1.25rem;
}

.features-accordion .accordion-item {
    border-bottom: 1px solid #e0e0e0;
}

.features-accordion .accordion-item:last-child {
    border-bottom: none;
}