.hero-img {
    width: 774.73px;
    height: 500px;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.nav-img {

    width: 80%;
    padding-top: 37px;
}

.hero-section-left {
    align-content: center;
}

.hero-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 67px;
    line-height: 80px;
    letter-spacing: 0;
    color: #1F1F39;
    margin: 0;
}

.hero-section {
    padding: 90px 80px;
}

.hero-subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0;
    color: #6c6c80;
    margin-bottom: 32px;
}

.hero-btn1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 24.24px;
    line-height: 100%;
    letter-spacing: 0;
    background-color: #1F1F39 !important;
    border-radius: 8.6px;
    padding: 10px 50px !important;
    border: none;
    margin-left: 0;
    margin-top: 24px;
    color: #fff;
    display: inline-block;
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 2rem;
        line-height: 2.4rem;
        
    }

    .hero-subtitle {
        font-size: 1.1rem;
        line-height: 1.6rem;
       
    }

    .hero-section {
        padding: 32px 8px;
    }

    .nav-img {
        width: 20%;
        max-width: 320px;
        height: auto;
        display: block;
        padding-bottom: 20px;
    }
}